/* Global Styles */
* {
  box-sizing: border-box;
}

html,body {
  height: 100%;
}

body {
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url('../images/subtle_white_mini_waves.png');
}

h1,h2,h3,h4,h5,h6 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Header & nav bar */

header {
  background: #fff;
  border-bottom: solid 2px #ccc;
}

header div {
  width: 960px;
  position: relative;
  margin: 0 auto;
}

header h1 {
  background: #4aaaa5;
  color: white;
  float: left;
  font-size: 32px;
  padding: 25px 30px;
}

nav {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
}

nav ul {
  list-style: none;
  font-size: 20px;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  padding-right: 10px;
  border-right: solid 1px #ddd;
}

nav ul li:last-child {
  border-right: none;
  margin: 0;
  padding: 0;
}

a {
  color: #777777;
  text-decoration: none;
}

a:hover {
  color: rgb(54, 54, 54)
}

/* Main Section Content */

.container { /* Used to create sticky footer */
  min-height: calc(100vh - 60px);
}

.entire-content-area {
  width: 960px;
  margin: 0 auto;
  padding: 40px 0;
}

.main-section-content {
  background: #fff;
  line-height: 30px;
  width: 650px;
  border: solid 1px #ddd;
  float: left;
  margin-right: 40px;
  padding: 40px 28px;
  overflow: auto;
}

.main-section-content h1 {
  font-size: 32px;
  border-bottom: solid 2px #ddd;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

#profile-pic {
  float: left;
  height: 200px;
  width: 200px;
  margin-right: 20px;
}

/* Sidebar */

.sidebar {
  background: #fff;
  float: left;
  width: 270px;
  border: solid 1px #ddd;
  padding: 28px;
}

.sidebar h2 {
  border-bottom: solid 2px #ddd;
  font-size: 24px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.sidebar div {
  display: table;
  margin: 0 auto;
}

.sidebar ul li {
  margin-right: 12px;
  display: inline;
}

/* Footer */

footer {
  background-color: #666;
  border-top: solid 5px #4aaaa5;
  color: rgb(182, 182, 182);
  text-align: center;
  height: 60px;
  padding: 25px 0;
  width: 100%;
}